.error{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
  
    min-height: 100vh;
}

.error h1 {
    margin-bottom: 10px;
}

.error p {
    font-style: italic;
    
}

.error .link {
    color: #fff;
    background-color: rgb(214, 210, 210);
    font-weight: bold;
    font-size: 20px;
    padding: 4px 16px;
    margin-top: 14px;
    border-radius: 5px;
    color: #000;
    transition: background-color, transform 0.5s;
}

.error .link:hover{
    background-color: #fff;
    transform: scale(1.05);
}

.error .link span {
    font-size: 50px;
    
}